<td class="note-name">
  <div class="note-title note-view">{{title}}</div>
</td>
<td class="note-action">
  <div class="btn-group btn-group-sm pull-right">
    <button class="btn btn-default note-edit">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button class="btn btn-default note-delete">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
</td>